################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/CommonSha/obj
/CommonSha/bin
/CRM/obj
/CRM/bin
/DAL/obj
/DAL/bin
/Entity/obj
/Entity/bin
/Repository/obj
/Repository/bin
/Service/obj
/Service/bin
