<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/CRM_as.css" />
		<title>需求评估</title>
	</head>
	<body>		
		<div class="center" id="ul_ove">
			<div class="cen_1 ceon">
				<h1>需求评估列表</h1>
				<ul id="time">
					<li>
						<span class="span_text">客户姓名:</span><input type="text" id="C_name" class="text_ove two" />
						<span class="span_text">商机名称:</span><input type="text" id="B_name" class="text_ove two" />
						<span class="span_text">商机质量:<input id="Minmass" type="text" class="san" placeholder="最低<40"/>--<input id="Maxmass" type='text' class="san" placeholder="最高>50"/></span>						
						<button class="bt" style="cursor: pointer;z-index: 100;" v-on:click='btOne()'>开始查询</button>
					</li>
					<li>						
						<span class="span_text">商机日期:<input id="Mindate" class="timeInput" >--<input id="Maxdate" class="timeInput" ></span>
						<span class="span_text">成单率:<input id="MinOve" type="text" class="san" placeholder="最低<40"/>--<input id="MaxOve" type='text' class="san" placeholder="最高>50"/></span>
					</li>
				</ul>
			</div>
			<div id="div_ove" class="tab">
				<img src="img/xg.png" class="img_">
				<span class="bj" v-on:click="btn">修改</span>
			</div>
			<div class="cen_2" >
				<ul class="cen_ul1">
					<li>选项</li>
					<li>商机名称</li>
					<li>客户名称</li>
					<li>商机日期</li>
					<li>评估结论</li>
					<li></li>
				</ul>
				<ul class="cen_ul2" v-for="item in items">
					
					<li >
						<!--<input type="radio" name="name"/>-->
						<label  id="{{item.ID}}" v-on:click="btns(item.ID,$index)">
						    <input type="radio" class="hidden-input" name="name1" />
						    <span class="your style about radio" ></span>
						</label>
					</li>
					<li>{{item.CV_businessName}}</li>
					<li>{{item.CV_consumerName}}</li>
					<li>{{item.CV_datetime}}</li>
					<template v-for="option in itemo.cOver">
						<li v-if='option.value==item.Over' v-bind:value='option.value' selected="selected">
							{{option.text}}
						</li>
					</template>
					<li><span v-on:click="obj(item.ID,$index)">立即查看</span></li>
				</ul>
				<div class="li_show">
						<div class="box">
							<div class="tcdPageCode">
							</div>
						</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script type="text/javascript" src="js/utils.js" ></script>
		<script type="text/javascript" src="js/CRM_as_ifrem.js" ></script>
		<script type="text/javascript" src="js/jquery.page.js" ></script>
		<script type="text/javascript" src="js/laydate/laydate.js" ></script>
		<script type="text/javascript" src="js/laydate/common.js" ></script>
		<script>
			var vm = new Vue({
				el:'#ul_ove',
				data:{
					items:"",
					shuj:'',
					itemo:{
						cOver:[
							{ text: "无", value: "0" },
							{ text: "放弃", value: "1" },
							{ text: "普通商机", value: "2" },
							{ text: "重点商机", value: "3" },
							{ text: "鸭子商机", value: "4" }
							]
					},
					itemst:'',
					page:1,
					rows:5,
					count:0
				},
				methods:{
					btns:function(e){		
						vm.$data.shuj = e;
//						console.log(e)
					},
					btn:function(){
						if(vm.$data.shuj==''){
							alert('请选择需要修改对象!')
						}else{							
							util.openWindow("CRM_as_cos.html",{
							Username:objs_ove.T_accountnumber,
							Token:objs_ove.Token,
							ID:vm.$data.shuj,
							Sunber:1
						},"inframe");
						}
					},
					obj:function(id){
						util.openWindow("CRM_as_co.html",{
							Username:objs_ove.T_accountnumber,
							Token:objs_ove.Token,
							ID:id,
							Sunber:0
						},"inframe");
					},
					btOne:function(){
						vm.$data.rows = 5;
						vm.$data.page = 1;
						vm.$data.count = 0;
						isH = true;
						as_flitrate();
						jieguo();
						pege();
					}
				}
			})
			var objs_ove = util.getExreas(null,true);
//			console.log(objs_ove)
				as_flitrate();
				function extend(p,c){
				for(var item in c){
					p[item] = c[item];
					}
				}
		</script>
		<script>
					   laydate.skin('molv');				
					    laydate({
					        elem: '#time .timeInput'
					    })
		</script>
	</body>
</html>
