html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}
.center {
    position: relative;
    width: 100%;
    /*min-height: 500px;*/
   	height: 100%;
   	background: url(../img/bj1.png);
}
.center>.cen_2{
	margin-top:20px;
	background: url(../img/bj1.png);
}
.center>.cen_1>ul>li>.btns{
	display: inline-block;
	width: 60px;
	float: right;
	margin-right: 20px;
	margin-top: 2.5px;
	height: 25px;
	line-height: 25px;
	border: 0;
	cursor: pointer;
	padding: 0;
	background: #3a6c92;
	color: white;
	text-align: center;
	border-radius: 10px;
}
.cen_2>.cen_ul1>.btn{
	width: 100px;
}
iframe{
	width: 100%;
	height: 500px;
	padding: 0;
	margin: 0;
}
/*.center{
	position: relative;
	width: 100%;
	height: 500px;
}*/
.center>.cen_1{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 148px;
	background: url(../img/bj1.png);
}
.center>.cen_1>ul{
	width: 803px;
	position: relative;
	right: 0px;
	margin: 0;
	padding: 0;
	margin-left: 10px;
	border: 1px solid #a9b3be;
	list-style: none;
	background: -webkit-linear-gradient(#bdd1fd, #e8eefe); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#bdd1fd, #e8eefe); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#bdd1fd, #e8eefe); /* Firefox 3.6 - 15 */
    background: linear-gradient(#bdd1fd, #e8eefe); /* 标准的语法（必须放在最后） */
}
.center>.cen_1>h1{
	margin: 0;
	padding: 0;
	font-size: 18px;
	margin-left: 20px;
	height: 26px;
	line-height: 30px;
}
.center>.cen_1>ul>li{
	width: 100%;
	position: relative;
	padding: 0;
	height: 40px;
	padding-top: 10px;
}
.center>.cen_1>ul>li>input{
	padding: 0;
	height: 25px;
	line-height: 25px;
}
.center>.cen_1>ul>li>span{
	font-size: 14px;
}
.center>.cen_1>ul>li>button{
	width: 111px;
	height: 30px;
	background: #3a6c92;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 10px;
	border:0;
	display:block;
	position: absolute;
	right: 105px;
	top: 10px;
}
.center>.cen_1>ul>li>button{
	width: 111px;
	height: 30px;
	background: #3a6c92;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 10px;
	border:0;
	display:block;
	position: absolute;
	right: 105px;
	top: 10px;
}
.center>.cen_1>ul>li>.bts{
	width: 111px;
	height: 30px;
	background: #3a6c92;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 10px;
	border:0;
	display:block;
	position: absolute;
	right: 135px;
	top: 60px;
}
.start{
	width: 130px;
	height: 25px;
}
.text_ove{
	width: 173px;
	height: 25px;
}
.span_text{
	margin-left: 90px;
}
.span_texts{
	margin-left: 40px;
}
.provinces{
	width: 113px;
	height: 25px;
}

.cen_2>.cen_ul1{
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 0;
	list-style: none;
	width: 100%;
	height: 38px;
	background: #7791a5;
}
.cen_2>.cen_ul1>li{
	color: #FFFFFF;
	float: left;
	height: 38px;
	line-height: 38px;
	text-align: center;
	width: 130px;
	margin-left: 10px;
}
.cen_2>.cen_ul2{
	list-style: none;
	margin: 0;
	padding: 0;
}

.cen_2>.cen_ul2>li{
	width: 100%;
	height: 35px;
	background: rgba(189,205,222,0.37);	
	margin-top: 20px;
}
.cen_2>.cen_ul2>.li_show{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
}
.cen_2>.cen_ul2>.li_show>span{
	color: #2E7BCA;
	height: 26px;
	width: 25px;
	margin-left: 0;
	line-height: 26px;
}
.cen_2>.cen_ul2>.li_show>.img_{
	margin-left: 380px;
}
.cen_2>.cen_ul2>li>span{
	display: inline-block;
	width: 123px;
	height: 35px;
	font-size: 14px;
	padding: 0;
	line-height: 35px;
	text-align: center;
	white-space:nowrap;
	overflow: hidden;
	margin-left: 10px;
}
.cen_2>.cen_ul2>li>.bj{
	width: 90px;
	color: #2e7bca;
	cursor: pointer;
}
.timeInput{
    width:105px;
    border:1px solid #dcdee1;
    background:url(../img/time_icon.png) no-repeat 85px center,#fff;
}
.searchTime .timeInput {
    width: 105px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid #dcdee1;
    background: url(../img/time_icon.png) no-repeat 85px center,#fff;
}
/*.btn{
	position: absolute;
	width: 70px;
	height: 38px;
	right: 0;
}*/
.btn>button{
	width: 70px;
	border: 0;
	height: 18px;
	line-height: 18px;
	background: #3a6c92;
	color: #FFFFFF;
	padding: 0;
}

/*分页*/
.box{
	width: 100%;
	height: 40px;
	position: relative;
}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
.tcdPageCode{position: absolute;text-align: left;color: #ccc;padding: 0;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 22px;margin: 0 2px;line-height: 22px;	padding: 0 8px;border: 1px solid #ddd;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
.tcdPageCode span.current{display: inline-block;height: 22px;line-height: 22px;margin: 0 2px;padding: 0 8px;color: #fff;background-color: #428bca;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{display: inline-block;height: 22px;line-height: 22px;padding: 0 8px;margin: 0 2px;color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}