.center {
    position: relative;
    width: 100%;
    height: 510px;
    background: url(../img/bj1.png);
}
.center>.cen_1 {
    width: 100%;
    height: 59px;
}
.center>.cen_1>h1 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-left: 20px;
    height: 26px;
    line-height: 30px;
}
.tab {
    height: 28px;
    line-height: 28px;
    width: 100%;
    background: url(../img/bj1.png);
    right: 80px;
    color: #2577d4;
    cursor: pointer;
}
.tab>img {
    position: relative;
    top: 5px;
    margin-left: 750px;
}
.cen_2{
	width: 804px;
	height: 180px;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	background: #e8e8e8;
	border: 1px solid #a8a8a8;
}
.cen_2>ul{
	padding: 0;
	margin: 0;
	list-style: none;
	height: 160px;
	width: 302px;
	float: left;
	margin-left: 10px;
}
.cen_2>ul>li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #666666;
}
.cen_2>ul>.li_ove{
	margin-top: 10px;
}
.cen_2>ul>li>span{
	font-size: 14px;
	color: #666666;
}
.tabs{
	width: 804px;
	height: 60px;
	margin-top: 20px;
	position: relative;
	height: 28px;
}
.tabs>button {
    width: 78px;
    border: 0;
    height: 28px;
    line-height: 18px;
    background: #3a6c92;
    color: #FFFFFF;
    padding: 0;
    position: absolute;
    right: 40px;
}